body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin: 0;
}
h3 {
  margin: 0;
}
h5 {
  margin : 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-page {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: tomato;
}
.login {
  color: white;
  background-color: black;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 650px;
  min-height: 97vh;
  border-radius: 15px;
}
.login-input {
  background-color: #ffffff;
  color: #000000;
  width: 60%;
  border: 0;
  /* border-left: solid #03558b 5px; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 3px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  border-bottom: 3px solid tomato;
}
.login-input[type="text"] {
  font-size: 15px;
  font-weight: 700;
}
.login-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
  border: 0;
  font-size: 15px;
  background-color: #ffffff;
  color: black;
  padding: 10px;
  align-self: center;
  margin-top: 25px;
  border-radius: 3px;
  font-weight: 1000;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 6px solid tomato;
}
.login-input-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.fas-field {
  border-radius: 3px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 25px;
  margin-top: 20px;
}
.fas-submit {
  padding: 10px;
  padding-right: 20px;
  margin-top: 25px;
}
.login-title {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
}
.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #000000;
  background-color: white;
  padding: 12px;
  margin-bottom: 20px;
}
.title {
  font-size: 70px;
  margin: 0 0;
  padding-left: 10px;
}
.login-submit:hover {
  color: tomato;
  border-bottom: 6px solid rgb(255, 217, 0);
}
.login-submit:focus {
  color: tomato;
  border-bottom: 6px solid rgb(255, 217, 0);
}
.login-input:focus {
  border-bottom: 3px solid rgb(255, 217, 0);
}
.instructions {
  font-size: 15px;
  text-align: center;
  padding: 10px 40px;
  margin: 10px;
}

.game-header {
  padding: 15px 50px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.hithere {
  float: left;
  margin: 0 0;
}
.room {
  margin: 0 0;
  margin-left: auto;
}
.playerID {
  color: white;
  margin: 0;
  margin-left: auto;
}
.room-details {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  justify-content: center;
  height: 86vh;
  margin: 15px;
}
.team-details {
  display: flex;
  flex-direction: column;
}
.td {
  margin-bottom: 10px;
}
.teams-heading {
  background-color: tomato;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.teams {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.team1 {
  display: flex;
  flex-direction: column;
  align-items: right;
  background-color: black;
  color: white;
  padding: 15px;
  padding-top: 10px;
  border-bottom-left-radius: 10px;
}
.team2 > p {
  margin-left: auto;
}
.team2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 15px;
  padding-top: 10px;
  border-bottom-right-radius: 10px;
}
.team-name {
  font-size: 20px;
  font-weight: 1000;
}
.score-team-name {
  font-size: 10px;
  font-weight: 1000;
}
.score-score {
  font-size: 40px;
}
.noofgames {
  display: flex;
  flex-direction: column;
}
.score-and-games {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.scores {
  margin-right: 10px;
}
.noofgames-heading {
  background-color: tomato;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.noofgames-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  font-size: 60px;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.history-box {
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.trump-box {
  display: flex;
  flex-direction: column;
  color: black;
  max-height: 31vh;
  overflow: auto;
}
.trump-message-box {
  padding: 10px;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom: 2px solid rgb(185, 185, 185);
}
.trump-message {
  display: inline;
  text-align: center;
  font-weight: 500;
}
.trump-player-no {
  margin-left: auto;
  font-size: 10px;
}
.trump-player-name {
  color: tomato;
  font-size: 20px;
  font-weight: 700;
}
.y-trump-message {
  margin-left: auto;
  display: inline;
  font-weight: 500;
}
.y-trump-player-no {
  font-size: 10px;
}
.y-trump-player-name {
  color: green;
  font-size: 20px;
  font-weight: 700;
}
.final-trump-message-box {
  padding: 10px;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  border: 0px;
  background-color: black;
  color: white;
  font-size: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.turn-box-y {
  border-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 20px;
  background-color: green;
}
.turn-box-o {
  border-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 20px;
  background-color: rgb(201, 2, 2);
}
.suit-symbol {
  font-size: 20px;
  font-weight: 400;
  color: rgb(37, 1, 48);
}
select {
  padding: 10px;
  border: 0;
  text-align: center;
  align-content: center;
  font-weight: 800;
}
select:hover {
  background-color: black;
  color: white;
}
.option {
  font-size: 20px;
  font-weight: 800;
}
.trump-select {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: auto;
  min-height: 25vh;
}
.trump-button {
  color: white;
  background-color: red;
  border: 0;
  padding: 10px;
  font-weight: 1000;
}
.trump-confirm {
  background-color: green;
}
.trump-confirm:hover {
  background-color: rgb(204, 204, 204);
  color: green;
}
.trump-pass {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.trump-pass:hover {
  background-color: rgb(204, 204, 204);
  color: red;
}
.game {
  display: flex;
  flex-direction: row;
}
.trump-section {
  margin: 15px;
  min-width: 300px;
  max-width: 300px;
  height: 86vh;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.trump-section-disable {
  display: none;
}
.current-trump {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.current-trump-suit {
  background-color: white;
  color: black;
  padding: 10px;
  font-weight: 800;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.current-trump-player {
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 800;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.target-choose {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.target-choose-button {
  background-color: tomato;
  color: white;
  border: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px;
}
.target-choose-button:hover {
  background-color: rgb(204, 204, 204);
  color: tomato;
}
.target-trump-suit {
  background-color: rgb(40, 75, 116);
  color: white;
  border-radius: 10px;
  font-weight: 700;
  padding: 10px;
  margin: 10px 0;
}
.target-choose-info {
  background-color: white;
  color: black;
  font-weight: 650;
  padding: 10px;
  border-radius: 10px;
}
.full-game {
  background-color: rgb(253, 213, 206);
}
.table-cards {
  margin: 25px;
  background-color: tomato;
  min-height: 200px;
  max-width: 350px;
  padding: 5px;
  border-radius: 10px;
  color: white;
  align-content: center;
  height: fit-content;
  padding-left: 25px;
  padding-bottom: 20px;
  align-self: center;
}
.table-cards > h3 {
  text-align: center;
  padding: 5px;
}
/* }


/* .li-available {
  border: 10px solid black;
} */
.available {
  /* list-style-position: inside; */
  border: 5px solid black !important;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  font-size: 18px;
}

.item1 {
  background-color: white;
  color: black;
  grid-row: 1 / span 2;
  min-height: 190px;
  max-height: 190px;
  min-width: 150px;
  max-width: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.item1 > h3 {
  color: white;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}
.card-on-table {
  padding: 10px;
}
.fa-question {
  padding: 12px;
}
.t2 {
  color: white;
  background-color: black;
}
.t2 > h3 {
  color: black;
  background-color: white;
}
.table-cards > h3 {
  font-size: 30px;
}
.game-left {
  display: flex;
  flex-direction: row;
}
.trump-suit-display {
  background-color: rgb(40, 75, 116);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.dash-topic {
  display: flex;
  flex-direction: column;
}
.dash-topic > h3 {
  background-color: tomato;
  color: white;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
  min-width: 250px;
}
.dash-topic > p {
  padding: 10px;
  color: black;
  background-color: white;
  text-align: center;
}
.dash-team-score {
  min-width: 100px;
  font-weight: 700;
  font-size: 30px;
}
p.dash-team-name {
  color: white;
  background-color: black;
}
.dash-end {
  margin-bottom: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.user-cards {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
  min-width: 600px;
  background-color: white;
  margin-left: 30px;
}
.user-cards > h3 {
  color: black;
  margin-bottom: 25px;
  font-size: 30px;
}
h3.wait-please {
  color: red;
}
@keyframes changeColour {
  from {color: green;}
  to {color:rgb(139, 228, 5);}
}
h3.your-turn {
  color: green;
  animation-name: changeColour;
  animation-duration: 0.5s;
  animation-iteration-count: 50;
  animation-direction: alternate;
}
.winner-display {
  background-color: rgb(40, 75, 116);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.user-left-info {
  display: block;
  text-align: center;
  margin-top: 50px;
  color: black;
  padding: 20px;
  font-size: 40px;
  font-weight: 700;
}
.user-left-link {
  color: red;
  text-decoration: none;
  text-align: center;
}
.userleft {
  display: none;
  background-color: white;
}
.dispatch-button {
  color: white;
  background-color: green;
  border: 0;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.dispatch-button:hover {
  background-color: rgb(8, 189, 8);
}
.dispatch-button:disabled {
  color: white;
  background-color: rgb(240, 172, 160);
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 0px;
  padding: 10px;
}

.grid > div {
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
}
.modal {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
}
.modal > h3 {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 10px;
}
.modal > h5 {
  font-weight: 800;
  margin-bottom: px;
  font-size: 20px;
}
.modal > button {
  margin-top: 20px;
  border: 0;
  font-size: 20px;
  font-weight: 800;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}.modal > button:hover {
  background-color: rgb(206, 206, 206);
}
.ReactModal__Content {
  height: 310px;
  width: 400px;
  color: #ffffff;
}
.user-left-p {
  background-color: black;
}
button.chat-open {
  background-color: teal;
  color: white;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  margin: 0 20px;
  margin-right: 0;
  padding: 10px;
}
button.chat-open:hover {
  background-color: rgb(83, 83, 167);
}
.hide {
  display: none;
}
.chat-room {
  width: 400px;
  margin-top: 0;
  margin-bottom: 0;
}
.chat-title {
  width: 370px;
  background-color: teal;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  padding: 10px;
}
.chat {
  width: 390px;
  height: 450px;
  background-color: white;
  color: black;
  overflow: auto;
}
.chat-user {
  color: tomato;
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}
.chat-message {
  padding: 10px 20px;
  border-bottom: 2px solid rgb(189, 184, 184);
}
.chat-input {
  padding: 10px;
  border: 0;
  width: 300px;
  background-color: rgb(195, 240, 240);
  color: blue;
}
.chat-send {
  padding: 10px;
  border: 0;
  width: 70px;
  font-weight: 600;
  background-color: rgb(153, 209, 153);
}
.chat-close {
  width: 390px;
  border: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  color: white;
  background-color: red;
  font-weight: 700;
}
.chat-close:hover{
  background-color: burlywood;
}